<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB5E994A171DC145004CF421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBBAB311171D0B84009B955F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBBAB33C171D0BC4009B955F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
